[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m pytest tests/"

[packages]
pytest = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
requests = "*"
lxml = "*"
pymongo = "*"

[dev-packages]
apartment-backend = {editable = true, path = "."}

[requires]
python_version = "3.8"
